PUBLIC_SITE_URL=https://insightlawyer.in
PUBLIC_SITE_NAME=Insight Lawyer
PUBLIC_SITE_TAGLINE=Indian law, clearly explained.
WP_GRAPHQL_ENDPOINT=https://cms.insightlawyer.in/graphql
WP_REST_BASE=https://cms.insightlawyer.in/wp-json
WP_RANKMATH_HEAD_ENDPOINT=https://cms.insightlawyer.in/wp-json/rankmath/v1/getHead
REVALIDATE_SECRET=change-me
DEFAULT_OG_IMAGE=/og-default.jpg
DEFAULT_LOCALE=en-IN
DEFAULT_TIMEZONE=Asia/Kolkata
WP_USE_MOCK=0
